/* General layout */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: wheat;
}

/* Utilities */

#container{
    width: 1080px;
    margin: 10px auto;
    background-color: white;
}

/* Header */

header{
    background-color: white;
    height: 60px;
    line-height: 60px;
}

header span{
    display: inline;
    vertical-align: middle;
}

header img{
    height: 50px;
    vertical-align: middle;
}

/* Main */

.add-button{
    
}





 