/* General layout */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: wheat;
}

/* Utilities */

.container{
    width: 1080px;
    margin: 10px auto;
    margin-bottom: 2px;
    padding-left: 30px;
    background-color: white;
    height: 50px;
}

#sub-container{
    margin-top: 2px;
}


/* Header */

header{
    background-color: white;
    height: 60px;
    line-height: 60px;
}

header span{
    display: inline;
    vertical-align: middle;
}

header img{
    height: 50px;
    vertical-align: middle;
}

/* Main */

.add-button, button{
    height: 35px;
    width: 70px;
    color: white;
    background-color: cornflowerblue;
    border-radius: 10%;
    line-height: 50px;
}

#button-section{
    background-color: white;
    color: gray;
}





 